/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0.5em 0;
  line-height: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
  line-height: 1.5em;
}

h5 {
  font-size: 1.2em;
  line-height: 1.5em;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
}

p {
  margin: 0.25em 0;
  line-height: 1.2em;
}

ul,
ol {
  padding-left: 1.5em;
  margin: 0.5em 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  line-height: 1.5em;
  margin: 1.2em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.p-sm {
  padding: 0.5em;
}

.p-nrm {
  padding: 1em;
}

.p-md {
  padding: 1.2em;
}

.p-lg {
  padding: 1.5em;
}

.p-xl {
  padding: 2em;
}

.p-xxl {
  padding: 2.5em;
}

.px-sm {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.px-nrm {
  padding-left: 1em;
  padding-right: 1em;
}

.px-md {
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.px-lg {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.px-xl {
  padding-left: 2em;
  padding-right: 2em;
}

.px-xxl {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.py-sm {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.py-nrm {
  padding-bottom: 1em;
  padding-top: 1em;
}

.py-md {
  padding-bottom: 1.2em;
  padding-top: 1.2em;
}

.py-lg {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.py-xl {
  padding-bottom: 2em;
  padding-top: 2em;
}

.py-xxl {
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}

.m-sm {
  margin: 0.5em;
}

.m-nrm {
  margin: 1em;
}

.m-md {
  margin: 1.2em;
}

.m-lg {
  margin: 1.5em;
}

.m-xl {
  margin: 2em;
}

.m-xxl {
  margin: 2.5em;
}

.my-sm {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.my-nrm {
  margin-bottom: 1em;
  margin-top: 1em;
}

.my-md {
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

.my-lg {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.my-xl {
  margin-bottom: 2em;
  margin-top: 2em;
}

.my-xxl {
  margin-bottom: 2.5em;
  margin-top: 2.5em;
}

.mx-sm {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.mx-nrm {
  margin-left: 1em;
  margin-right: 1em;
}

.mx-md {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.mx-lg {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.mx-xl {
  margin-left: 2em;
  margin-right: 2em;
}

.mx-xxl {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.w-fth {
  width: 25%;
}

.w-half {
  width: 50%;
}

.w-tfth {
  width: 75%;
}

.w-full {
  width: 100%;
}

.btn-1 {
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #0e6cff;
}

.btn-2 {
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #ff8700;
}

.btn-3 {
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #4caf50;
}

h1 {
  font-size: 4em;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: right;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.cont {
  gap: 10px 20px;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
  bottom: -100px;
  right: 0px;
}

.bg_hero {
  background-color: #640fc5;
}

.text-light {
  color: white;
}

.text-light-subtle {
  color: rgba(244, 244, 244, 0.5843137255);
}

.floating {
  border: 1px solid #eb60eb;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.floating-2 {
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}/*# sourceMappingURL=style.css.map */